:root {
	scroll-behavior: auto !important;
}

[hidden] {
	display: initial !important;
}

body {
  margin: 0;
	padding-top: 72px;
	padding-bottom: 48px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p {
	margin: 0;
}

p + p {
	margin-top: 4px;
}

* + ul {
	margin-top: 12px;
}
